.category-header
  %h2
    = category_title_link(@conn, @category)
    = render "_tag_list.html", tags: @category.tags, conn: @conn
    - form_for @tag_category_changeset, category_category_path(@conn, :tag, category_finder(@category)), [class: "tag-form"], fn f ->
      = text_input f, :tag_title, class: "title"
      %button.pure-button.button-primary
        %i.fa.fa-plus
        Add Tag

  .spacer
  %ul.actions
    %li
      %a.pure-button{href: "#{category_path(@conn, :new, parent_id: @category.id)}"}
        %i.fa.fa-plus
        New Category
    %li
      %a.pure-button.button-primary{href: "#{category_thread_path(@conn, :new, category_finder(@category))}"}
        %i.fa.fa-plus
        New Thread

= render "_back.html", conn: @conn, parent: @category.parent

%h3 Threads
= ThreadView.render "_list.html", threads: @category.threads, conn: @conn
