.category-header
  %h2
    = category_title_link(@conn, @category)
  .spacer
  %ul.actions
    %li
      %a.pure-button{href: "#{category_path(@conn, :new, parent_id: @category.id)}"}
        %i.fa.fa-plus
        New Category
    %li
      %a.pure-button.button-primary{href: "#{category_thread_path(@conn, :new, category_finder(@category))}"}
        %i.fa.fa-plus
        New Thread

= render "_back.html", conn: @conn, parent: @category.parent

%h3 Threads
= ThreadView.render "_list.html", threads: @category.threads, conn: @conn
