!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %title Firestorm
    = {:safe, css_link_tag()}
    %script{src: "https://use.fontawesome.com/b706cffc0a.js"}
  %body
    = render "_navigation.html", conn: @conn, view_module: @view_module, view_template: @view_template

    - for {key, val} <- get_flash(@conn) do
      %p{class: "alert-box -#{key}", role: "alert"}= val

    = render @view_module, @view_template, assigns
    = {:safe, js_script_tag()}
