.thread-header
  %h2= @thread.title
  .item-metadata
    = link "@#{user(@thread).username}", to: "#", class: "username"
    .date= @thread.inserted_at

%ol.post-list
  %li= render "_first_post.html", post: @first_post, conn: @conn
  - for post <- @posts do
    %li= render "_post.html", post: post, category: @category, thread: @thread, conn: @conn
