%ol.thread-list
  - for thread <- @threads do
    %li.thread-list-item
      .details
        .summary
          = link thread.title, to: category_thread_path(@conn, :show, thread.category.slug, thread.id), class: "title"
          %a.user-name{href: "#"}
            @#{user(thread).username}
        .metadata
          - time_string = Timex.format!(thread.inserted_at, "{ISO:Extended}")
          %abbr.time{title: time_string }
            = time_string
      .supplemental
        - # FIXME: LOL database access n + 1 so bad stop
        - if Thread.completely_read?(thread, current_user(@conn)) do
          .badge-block= length(thread.posts)
        - else
          .badge-block.-highlight= length(thread.posts)
