.thread-header
  %h2= @thread.title
  .item-metadata
    = link "@#{user(@thread).username}", to: "#", class: "username"
    - time_string = Timex.format!(@thread.inserted_at, "{ISO:Extended}")
    %abbr.time{title: "#{time_string}" }
      = time_string
  .item-metadata
    %ul.category-pill
      - for category <- @category_breadcrumbs do
        %li.category{class: "-color-#{Category.color(category)}"}
          = category_title_link(@conn, category)

%ol.post-list
  %li= render "_first_post.html", post: @first_post, conn: @conn, category: @category, thread: @thread, following: @following
  - for post <- @posts do
    %li= render "_post.html", post: post, category: @category, thread: @thread, conn: @conn
