.post-item
  .item-metadata
    = link "@#{@post.user.username}", to: "#", class: "username"

    - time_string = Timex.format!(@thread.inserted_at, "{ISO:Extended}")
    %abbr.time{title: "#{time_string}" }
      = time_string

  .body
    = markdown(@post.body)

  .post-item-actions
    .reply-count #{length(@thread.posts) - 1} replies
    .spacer
    %ul.actions
      %li
        %a{href: "#"}
          %i.emoticon-faces
      %li
        %a{href: "#"}
          %i.fa.fa-eye
      %li
        %a{href: "#"}
          %i.fa.fa-quote-right
      %li
        %a{href: "#{category_thread_post_path(@conn, :new, @category.slug, @thread.id)}"}
          %i.fa.fa-reply
