.post-item
  .item-metadata
    = link "@#{@post.user.username}", to: "#", class: "username"

    - time_string = Timex.format!(@thread.inserted_at, "{RFC822z}")
    %abbr.time{title: "#{time_string}" }
      = time_string

  .body
    = markdown(@post.body)

  %ul.actions
    %li= link "Reply", to: category_thread_post_path(@conn, :new, @category.slug, @thread.id)
