.thread-header
  %h2= @thread.title
  .item-metadata
    = link "@#{user(@thread).username}", to: "#", class: "username"
    - time_string = Timex.format!(@thread.inserted_at, "{RFC822z}")
    %abbr.time{title: "#{time_string}" }
      = time_string

%ol.post-list
  %li= render "_first_post.html", post: @first_post, conn: @conn, category: @category, thread: @thread
  - for post <- @posts do
    %li= render "_post.html", post: post, category: @category, thread: @thread, conn: @conn
